<h1>О нашей компании</h1>

<p>Российское предприятие ОАО «ArkneT» специализируется на ознакомлении с металлообрабатывающими станками с ЧПУ различных произвоителей и в большей степени направленно на знакомство и приобщение потребителя к отечественной продукции.</p>

<h1>Миссия компании</h1>

<p>Наша миссия заключается в просвящение потребителя в области металлообрабатывающих станков с ЧПУ, ознакомить их с видами продукции различных производителей
    а также пассильная помощь в выборе продукта.
    <em></em>  <code></code> <a
        href="#"></a> </p>

<h2>Наша компания ОАО «ArkneT» является одним из офицальных представителей компаний :</h2>

<ul>
    <li><strong>«АВРОРА МАШЗАВОД»</strong></li>
    <li><strong>«РОСФРЕЗЕР»</strong></li>
	<li><strong>«Trens»</strong></li>
	<LI><strong>ОАО«Астраханский станкостроительный завод»</strong></LI>
</ul>
<h3>Сотрудники</h3>
<p>В команде работают специалисты с большим опытом,что позволяет обеспечить помощь в подборе и внедрения в производственный цикл</p>